<h1>Névjegy hozzáadása</h1>
<form class="form-horizontal col-lg-8 col-lg-offset-2"
      method="post" action="/add">
    <div class="form-group">
            <label for="vezeteknev" class="col-lg-2 control-label">Vezetéknév</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="vezeteknev" name="vezeteknev">
            </div>
        </div>
        <div class="form-group">
            <label for="keresztnev" class="col-lg-2 control-label">Keresztnév</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="keresztnev" name="keresztnev">
            </div>
        </div>
        <div class="form-group">
            <label for="telefon" class="col-lg-2 control-label">Telefon</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="telefon" name="telefon">
            </div>
        </div>
        <div class="form-group">
            <label for="lakcim" class="col-lg-2 control-label">Lakcím</label>
            <div class="col-lg-10">
                <input class="form-control" type="text" id="lakcim" name="lakcim">
            </div>
        </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default pull-left">Mégse</button>
        <button type="submit" class="btn btn-success pull-right">Hozzáadás</button>
      </div>
    </div>
</form>